page-trips,
.trips {
	.card {
		border-radius: 1rem
	}
  .trip {
    overflow: hidden;

    .background {
      background-size: 100% auto;
      background-position: center;

      .background-filter {
        height: 16rem;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.65));

        .align-bottom {
          width: 100%;

          h6 {
            margin-top: 0;
          }
        }
      }
    }
  }
  .item-md {
    background-color: #fff;
 }
 .header .col {
  background-color:lightgrey;
}

.item-label-stacked .text-input-md, .item-label-floating .text-input-md {
  margin-left: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
}
.label-md[stacked], .label-md[floating] {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.button-small-md {
  height: 2.1em;
  font-size: 1.1rem;
  padding: 0 0.9em;
}
.text-input-md {
  margin: 13px 8px;
  padding: 5px;
  background-color: #e1e1e1;
  color: black;
  border-radius: 5px;
}
}
