page-home,
.home {
  ion-list {
    border-radius: 1rem;
    overflow: hidden;

    ion-item,
    .item:first-child,
    .item:last-child {
      border: none;
    }

    ion-datetime {
      padding-left: 0;
    }
  }
  .big {
    height: 5.6rem;
  }
  .logo {
    margin: auto -32px;
    border-radius: 10%;
    background: url(../assets/img/paidyet-logo.png) no-repeat center;
    background-size: 62%;
    height: 44px;
    width: 100%;
  }

}





