page-account,
.settings {
  // setting style
  .card {
    margin-top: 1rem;
    margin-bottom: 2rem;
    overflow: hidden;
  }
  
 .ion-item {
  
  background-color: #fff !important;
 
}
.item-md-secondary, .item-divider-md-secondary {
 
  background-color: transparent !important;
}



}
