page-local-weather {
    .item-cover {
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background: #f8f7f7e8;
        cursor: pointer;
        z-index: -2;
    }
    ion-item {
        background-color: #e1e1e1 !important;
        border-radius: 6px !important;
    }
}